name: Docker Image CI

on: workflow_dispatch
  #push:
  #  branches: [ master ]

env:
  BOOKSTACK_VERSION: v2.12
  DOCKERHUB_USERNAME: willdockerhub
  ALIYUN_USERNAME: willzhmic@outlook.com
  ALIYUN_REGISTRY_URL: registry.cn-shenzhen.aliyuncs.com


jobs:
  get-images:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Login aliyun registry
    - name: Login aliyun and docker registry
      run: |
        echo "${{ secrets.ALIYUN_PASSWORD }}" | docker login $ALIYUN_REGISTRY_URL -u $ALIYUN_USERNAME --password-stdin
        echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u $DOCKERHUB_USERNAME --password-stdin
        
    # pull retag and push images
    - name: get images
      run: |
        docker build -t willdockerhub/bookstack:${BOOKSTACK_VERSION} .
        docker push willdockerhub/bookstack:${BOOKSTACK_VERSION}
        docker tag willdockerhub/bookstack:${BOOKSTACK_VERSION} registry.cn-shenzhen.aliyuncs.com/cnmirror/bookstack:${BOOKSTACK_VERSION}
        docker push registry.cn-shenzhen.aliyuncs.com/cnmirror/bookstack:${BOOKSTACK_VERSION}
